@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  /*   margin-block: 0;*/
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

h3 {
  font-size: 20px;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

.input {
  position: relative;
  background-color: #d8d8d8;
  font-size: 20px;
  border: none;
  -webkit-box-shadow: inset -5px 5px 6px 0px rgb(73, 73, 73);
          box-shadow: inset -5px 5px 6px 0px rgb(73, 73, 73);
  border: 1px solid #087582;
  border-radius: 20px;
  padding: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.input:hover {
  -webkit-box-shadow: inset -5px 5px 6px 0px rgb(73, 73, 73);
          box-shadow: inset -5px 5px 6px 0px rgb(73, 73, 73);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #7dd0da;
}

body {
  color: rgb(77, 59, 36);
  background: rgb(199, 208, 212);
  background: -webkit-gradient(linear, left top, right top, from(rgb(199, 208, 212)), to(rgb(181, 175, 185)));
  background: linear-gradient(90deg, rgb(199, 208, 212) 0%, rgb(181, 175, 185) 100%);
}
body .hide {
  display: none;
}
body header {
  background: -webkit-gradient(linear, left top, right top, from(rgb(83, 48, 61)), color-stop(48%, rgb(109, 93, 111)), to(rgb(74, 63, 88)));
  background: linear-gradient(90deg, rgb(83, 48, 61) 0%, rgb(109, 93, 111) 48%, rgb(74, 63, 88) 100%);
  border-radius: 20px;
  color: #f1ad02;
  padding: 10px;
}
body .container {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  height: 93vh;
}
body a {
  text-decoration: none;
  font-size: 20px;
  color: #292718;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body a:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #5b5b5b;
}
body .logo {
  text-decoration: none;
  background-color: #548a97;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  color: #e0ba59;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body .logo:hover {
  background-color: #6db4c6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #f1ad02;
}
body .blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-nav {
  border-radius: 15px;
  padding: 10px;
  background-color: #08b9ce;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(29, 32, 28)), color-stop(47%, rgb(74, 104, 109)), to(rgb(73, 64, 78)));
  background: linear-gradient(0deg, rgb(29, 32, 28) 0%, rgb(74, 104, 109) 47%, rgb(73, 64, 78) 100%);
}
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin: 0;
  list-style: none;
  padding: 10px;
  text-wrap: nowrap;
}
.main-nav__item {
  padding: 10px;
}
.main-nav__link {
  -webkit-box-shadow: inset -5px 5px 6px 0px rgb(73, 73, 73);
          box-shadow: inset -5px 5px 6px 0px rgb(73, 73, 73);
  border: 1px solid #e0ba59;
  background-color: #e6e1da;
  border-radius: 20px;
  padding: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main-nav__link:hover {
  -webkit-box-shadow: inset -5px 5px 6px 0px rgb(73, 73, 73);
          box-shadow: inset -5px 5px 6px 0px rgb(73, 73, 73);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #f1ad02;
}

.card {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.card-item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(211, 218, 224);
  width: 261px;
  border-radius: 20px;
  -webkit-box-shadow: inset -2px 2px 3px 0px rgb(238, 238, 238);
          box-shadow: inset -2px 2px 3px 0px rgb(238, 238, 238);
  -webkit-box-shadow: 0px 7px 13px -7px rgb(26, 25, 25);
          box-shadow: 0px 7px 13px -7px rgb(26, 25, 25);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.card-item:hover {
  -webkit-box-shadow: -5px 10px 13px -7px rgb(26, 25, 25);
          box-shadow: -5px 10px 13px -7px rgb(26, 25, 25);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.card-item__wrap {
  background: -webkit-gradient(linear, left top, right top, from(rgb(249, 219, 148)), to(rgb(243, 211, 109)));
  background: linear-gradient(90deg, rgb(249, 219, 148) 0%, rgb(243, 211, 109) 100%);
  -webkit-box-shadow: inset -2px 2px 3px 0px rgb(238, 238, 238);
          box-shadow: inset -2px 2px 3px 0px rgb(238, 238, 238);
  -webkit-box-shadow: 0px 7px 13px -7px rgb(26, 25, 25);
          box-shadow: 0px 7px 13px -7px rgb(26, 25, 25);
  border-radius: 19px 19px 0 0;
  margin: -10px -10px 10px -10px;
  color: #4a3413;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 108px;
}
.card-item__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: start;
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}
.card-item__title {
  font-size: 20px;
  padding: 5px;
}
.card-item__link {
  padding: 10px;
  text-align: center;
}
.card-item__link:hover {
  color: #56dde0;
}

.sort-category__number {
  background-color: #d8d8d8;
  padding: 10px;
  border-radius: 20px;
}

.main-right {
  border-radius: 15px;
  padding: 10px;
  background-color: #08b9ce;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(29, 32, 28)), color-stop(47%, rgb(74, 104, 109)), to(rgb(73, 64, 78)));
  background: linear-gradient(0deg, rgb(29, 32, 28) 0%, rgb(74, 104, 109) 47%, rgb(73, 64, 78) 100%);
  min-width: 227px;
}
.main-right__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-wrap: nowrap;
}
.main-right__item {
  padding: 10px;
}
.main-right__link {
  -webkit-box-shadow: inset -5px 5px 6px 0px rgb(73, 73, 73);
          box-shadow: inset -5px 5px 6px 0px rgb(73, 73, 73);
  border: 1px solid #75cfd0;
  background-color: #e6e1da;
  border-radius: 20px;
  padding: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main-right__link:hover {
  -webkit-box-shadow: inset -5px 5px 6px 0px rgb(73, 73, 73);
          box-shadow: inset -5px 5px 6px 0px rgb(73, 73, 73);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #1086c5;
  color: #d8d8d8;
}

.word {
  background-color: #f1ad02;
}

.card-content-item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(211, 218, 224);
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: inset -2px 2px 3px 0px rgb(238, 238, 238);
          box-shadow: inset -2px 2px 3px 0px rgb(238, 238, 238);
  -webkit-box-shadow: 0px 7px 13px -7px rgb(26, 25, 25);
          box-shadow: 0px 7px 13px -7px rgb(26, 25, 25);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.card-content-item:hover {
  -webkit-box-shadow: -5px 10px 13px -7px rgb(26, 25, 25);
          box-shadow: -5px 10px 13px -7px rgb(26, 25, 25);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.card-content-item__wrap {
  background: -webkit-gradient(linear, left top, right top, from(rgb(249, 219, 148)), to(rgb(243, 211, 109)));
  background: linear-gradient(90deg, rgb(249, 219, 148) 0%, rgb(243, 211, 109) 100%);
  -webkit-box-shadow: inset -2px 2px 3px 0px rgb(238, 238, 238);
          box-shadow: inset -2px 2px 3px 0px rgb(238, 238, 238);
  -webkit-box-shadow: 0px 7px 13px -7px rgb(26, 25, 25);
          box-shadow: 0px 7px 13px -7px rgb(26, 25, 25);
  border-radius: 19px 19px 0 0;
  margin: -10px -10px 10px -10px;
  color: #4a3413;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 70px;
}
.card-content-item__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: start;
  font-size: 18px;
}
.card-content-item__title {
  font-size: 20px;
  padding: 5px;
}
.card-content-item__link {
  padding: 10px;
  text-align: center;
}
.card-content-item__link:hover {
  color: #56dde0;
}